<h1>
記事作成
</h1>

<form method="POST">

タイトル

<br><br>

<input
name="title"
required
>

<br><br>

Markdown本文

<br><br>

<textarea
name="content"
rows="20"
required
></textarea>

<br><br>

<button>
投稿
</button>

</form>