<h1>
ログイン
</h1>

<form method="POST">

メール

<br><br>

<input
name="email"
required
>

<br><br>

パスワード

<br><br>

<input
type="password"
name="password"
required
>

<br><br>

<button>
ログイン
</button>

</form>